.quiz-section{


width: 100%;
height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
padding: 10px;
margin-top: 20px;

}

.quiz-section p{
width: 100%;
height: 60px;
font-size: 23px;
text-align: center;
color: rgb(3, 3, 53);
user-select: none;

}

.quiz-section button{

 
border: none;


}

.quiz-section button.option{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 70%;
font-size: 16px;
cursor: pointer;
padding: 20px 0;
 height: 60px;
 background: #d4cfcf8a;
 border-radius: 10px;
user-select: none;
transition: all 0.3s ease;

}

.quiz-section button.option:hover:not(:disabled){
background: #bbb;
}

.quiz-section button.option:disabled{
cursor: not-allowed;
}

.quiz-section button.option.correct{
background: #4caf50;
color: white;
font-weight: bold;
}

.quiz-section button.option.wrong{
background: #f44336;
color: white;
font-weight: bold;
}

.quiz-section button.option.correct-answer{
background: #4caf50;
color: white;
font-weight: bold;
}

.quiz-section .feedback{
margin-top: 15px;
font-size: 18px;
font-weight: bold;
color: #333;
}

.score-info{
width: 100%;
display: flex;
justify-content: space-around;
padding: 10px 0;
font-size: 16px;
font-weight: bold;
color: #1e0788b0;
}

.quiz-section .button{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
 margin-top: 20px;
gap: 8px;


}

.quiz-section button.navigate{

width: 23%;
padding: 15px 0;
cursor: pointer;
font-weight: 500;
font-size: 18px;
border-radius: 20px;
color: whitesmoke;
background: #1e0788b0;
user-select: none;

}

.quiz-section button.navigate:hover{

background: #1f07887e;

}

@media only screen and (max-width:600px) {
    
.quiz-section p{


margin-bottom: 35px;
font-size: 20px;

}

.quiz-section button.option{

    width: 90%;
padding: 25px 0;

}

.quiz-section .button{

margin-top: 30px;

}

.quiz-section button.navigate{

width: 45%;
padding: 12px 0;


}


}